body {
    display: flex;
    margin: 10 px;
    background-image: url('../Public/Form.png');

    background-size:cover ; /* Escala la imagen para cubrir todo el fondo */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    background-color: rgba(34, 33, 95, 1);
}

h1{
    font-family:Helvetica; 
    color:#22215f;
    font-weight: 100; 
    font-size: 2em; 
    margin-top: 0; 
    margin-bottom: 0; 
}
h2{
    font-family:Helvetica; 
    color:#63cca9;
    font-weight: 100; /* Negrita más intensa */
    margin-top: 25; 
    margin-bottom: 0; 
}

h4{
    color:#22215f;
    margin-bottom: 1%;
}

p{
    font-family:Helvetica; 
    color:#22215f; 
}
form{
    font-family:Helvetica; 
    color:#22215f; 
}

label{
    font-weight: bold;
}

input{
    margin-bottom: 3%;
}

textarea{
    margin-top: 0%;    
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #45a049;
}

video{
    max-width: 50%;
    height: 50%;
}

.container{
    width: 70%; /* Ancho del contenedor */
    margin-bottom: 5%;
    margin-top: 3%;
    background-color: white; /* Fondo del contenedor */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    border-radius: 10px; /* Bordes redondeados */
    padding-bottom: 100%;   
    overflow: hidden;
}
.Logo{
    max-width: 100%; /* Ajusta el ancho máximo al del contenedor */
    margin:3.5%;
    display: flex; /* Para centrar el contenido */
    justify-content: center;
    align-items: center;
    
}
.Logo img {
    max-width: 100%; /* Ajusta el ancho máximo al del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: contain; 
    display: block;
    border-radius: 10px; 
}
.Form{
    max-width: 100%;
    margin:3.5%;
    display: flex; 
    justify-content: left;
    align-items: flex-start; /* Alinea horizontalmente al inicio (izquierda) */
    flex-direction: column; 
    text-align: left; /* Alineación del texto a la izquierda */
}

.label-idioma{
    font-size: 17px; /* Cambia el tamaño de la letra aquí */
}

.tools{
    margin-top: 1%;
    margin-bottom: 0%;
    font-weight: bold;
}

.note{
    margin-top: 5px;
    font-weight: bold;
    color: red;
    font-size: 10px;
}

.nombre{
    height: 30px;
}


.tabla-experiencia {
    width: 100%;
    border-bottom: 2px solid black;
    padding-top: 3% ;
}

.Submit{
    margin-top: 10%;
}

.musica{
    font-size: 10px;
    font-weight: bold;
    color: red;
}
